.btn-right {

    float: right;
}
.obligatory {
	color: red;
}
.style-edit {

	font-size: 20px;
	color: #4caf50;
}
.style-delete {
	font-size: 20px;
	color: red;
}
#thumbimage {
	margin-top: 10px;
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
    }

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}